<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/carrossel.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/cardProduct.css" />
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/information.css" />
    <link rel="stylesheet" href="../css/depoimentos.css" />
    <link rel="stylesheet" href="../css/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />

    <title>Loja Ecommerce</title>
  </head>

  <body>
    <div class="content">
      <header class="navbar">
        <div class="container_navbar">
          <div>
            <img id="logo" src="../img/logo_wx3.png" />
          </div>
          <div class="main1">
            <ul>
              <li><a href="">NEWS</a></li>
              <li><a href="">CINTAS</a></li>
              <li><a href="">CALCINHAS</a></li>
              <li><a href="">PIJAMAS</a></li>
              <li><a href="">CAMISOLAS</a></li>
              <li><a href="">GESTANTES</a></li>
              <li><a href="">SEXY</a></li>
              <li><a href="">SUTIÃ</a></li>
              <li><a href="">COLEÇÕES</a></li>
              <li><a href="">OUTLET</a></li>
            </ul>
          </div>
          <div class="main2">
            <ul>
              <li>
                <a href="">
                  <img id="icon" src="../img/lupa-arredondada.png" />
                </a>
              </li>
              <li>
                <a href=""> <img id="icon" src="../img/gostar.png" /> </a>
              </li>
              <li>
                <a href="">
                  <img id="icon" src="../img/private-account.png" /> Login |
                  Cadastre-se
                </a>
              </li>
              <li>
                <a href=""> <img id="icon" src="../img/cart.png" /> R$ 0,00 </a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="carrossel">
        <div class="slides">
          <input type="radio" name="radio" id="slide1" checked />
          <input type="radio" name="radio" id="slide2" />
          <input type="radio" name="radio" id="slide3" />
          <input type="radio" name="radio" id="slide4" />

          <div class="slide s1">
            <img src="../img/banner1.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="../img/banner2.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="../img/banner3.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="../img/banner4.png" alt="" />
          </div>
        </div>
        <div class="navigation">
          <label class="bar" for="slide1"></label>
          <label class="bar" for="slide2"></label>
          <label class="bar" for="slide3"></label>
          <label class="bar" for="slide4"></label>
        </div>
      </div>
      <div>
        <h1 class="titleLancamento">Lançamentos</h1>
      </div>
      <ul class="listProducts">
        <li class="item-a">
          <div class="box">
            <div class="slide_products">
              <div class="topCard">
                <h6 class="titleCard">Lançamento</h6>
              </div>
              <img src="../img/product1.jpg" alt="1" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Conjunto Flor </a>
                <span class="refProduct"> ref.: cj202 </span>
              </div>
              <a href="#" class="price"> R$ 59,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$5,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-b">
          <div class="box">
            <div class="slide_products">
              <div class="topCard">
                <h6 class="titleCard">Lançamento</h6>
              </div>
              <img src="../img/product2.jpg" alt="2" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Conjunto Renda </a>
                <span class="refProduct"> ref.: cj203 </span>
              </div>
              <a href="#" class="price"> R$ 49,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$4,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-c">
          <div class="box">
            <div class="slide_products">
              <div class="topCard">
                <h6 class="titleCard">Lançamento</h6>
              </div>
              <img src="../img/product3.jpg" alt="3" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Conjunto Ano Novo </a>
                <span class="refProduct"> ref.: cj203 </span>
              </div>
              <a href="#" class="price"> R$ 69,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$6,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-d">
          <div class="box">
            <div class="slide_products">
              <div class="topCard">
                <h6 class="titleCard">Lançamento</h6>
              </div>
              <img src="../img/product4.jpg" alt="4" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Conjunto All Black </a>
                <span class="refProduct"> ref.: cj204 </span>
              </div>
              <a href="#" class="price"> R$ 79,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$7,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="showMore">
        <a href="#" class="show_btn">Ver todos</a>
      </div>

      <ul class="benefits">
        <li>
          <div class="cardInformation">
            <div class="imagemInformation">
              <img src="../img/iconeFrete.png" id="delivery" />
            </div>
            <div class="textInformation">
              <p><strong>FRETE GRÁTIS</strong> A PARTIR DE</p>
              <p>R$ 199(SUDESTE) E R$299(BRASIL)</p>
            </div>
          </div>
        </li>
        <li>
          <div class="cardInformation">
            <div class="imagemInformation">
              <img src="../img/iconeBoleto.png" id="delivery" />
            </div>
            <div class="textInformation">
              <p>10% DE DESCONTO NO</p>
              <p>BOLETO BANCÁRIO / DEPÓSITO</p>
            </div>
          </div>
        </li>
        <li>
          <div class="cardInformation">
            <div class="imagemInformation">
              <img src="../img/cartao.png" id="delivery" />
            </div>
            <div class="textInformation">
              <p>
                <stron>ATÉ 10X SEM JUROS</stron>
              </p>
              <p>NOS CARTÕES DE CRÉDITO</p>
            </div>
          </div>
        </li>
        <li>
          <div class="cardInformation">
            <div class="imagemInformation">
              <img src="../img/doisCartoes.png" id="delivery" />
            </div>
            <div class="textInformation">
              <p>PAGAMENTO COM ATÉ</p>
              <p><strong>2 CARTÕES</strong></p>
            </div>
          </div>
        </li>
      </ul>
      <div>
        <h1 class="titleLancamento">Destaques</h1>
      </div>
      <ul class="listProducts">
        <li class="item-a">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct1.jpg" alt="1" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Sutiã Black </a>
                <span class="refProduct"> ref.: st201 </span>
              </div>
              <a href="#" class="price"> R$ 29,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$2,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-b">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct2.jpg" alt="2" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Sutiã Renda </a>
                <span class="refProduct"> ref.: st202 </span>
              </div>
              <a href="#" class="price"> R$ 39,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$3,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-c">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct3.jpg" alt="3" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Sutiã Renda Black</a>
                <span class="refProduct"> ref.: st203 </span>
              </div>
              <a href="#" class="price"> R$ 39,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$3,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-d">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct4.jpg" alt="4" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span
                  ><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Calcinha Super Cos </a>
                <span class="refProduct"> ref.: cc204 </span>
              </div>
              <a href="#" class="price"> R$ 29,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$2,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="showMore">
        <a href="#" class="show_btn">Ver todos</a>
      </div>

      <div class="grid">
        <div class="containerGrid">
          <div class="camisolas">
            <ul class="listGrid">
              <li>
                <p class="h1">Camisolas</p>
                <p>Para quem</p>
                <p>quer relaxar</p>
                <div class="VejaMais">
                  <a href="#" class="btn_veja_mais">VEJA MAIS</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="linhaNoite">
            <ul class="listGrid">
              <li>
                <p class="h1">Linha Noite</p>
                <p>Para quem ama</p>
                <p>praticidade</p>
                <div class="VejaMais">
                  <a href="#" class="btn_veja_mais">VEJA MAIS</a>
                </div>
              </li>
            </ul>
          </div>

          <div class="sutias">
            <ul class="listGrid">
              <li>
                <p class="h1">Sutiãs</p>
                <p>Para quem ama</p>
                <p>conforto</p>
                <div class="VejaMais">
                  <a href="#" class="btn_veja_mais">VEJA MAIS</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h1 class="titleLancamento">Outlet</h1>
      </div>
      <ul class="listProducts">
        <li class="item-a">
          <div class="box">
            <div class="slide_products">
              <img src="../img/product5.jpg" alt="1" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Pijama BabyRose</a>
                <span class="refProduct"> ref.: pj211 </span>
              </div>
              <a href="#" class="price"> R$ 69,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$6,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-b">
          <div class="box">
            <div class="slide_products">
              <img src="../img/product6.jpg" alt="2" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <a href="#" class="nameProduct">Camisola Candy </a>
                <span class="refProduct"> ref.: cs232 </span>
              </div>
              <a href="#" class="price"> R$ 59,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$5,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-c">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct5.jpg" alt="3" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Conjunto Special</a>
                <span class="refProduct"> ref.: cj2033 </span>
              </div>
              <a href="#" class="price"> R$ 99,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$9,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
        <li class="item-d">
          <div class="box">
            <div class="slide_products">
              <img src="../img/featuredProduct6.jpg" alt="4" />
            </div>
            <div class="detail_product">
              <div class="type">
                <div class="classificacao">
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
                <a href="#" class="nameProduct"> Pijama Short  </a>
                <span class="refProduct"> ref.: pj224 </span>
              </div>
              <a href="#" class="price"> R$ 49,90 </a>
              <p class="payment">no boleto</p>
              <p class="installments">em até 10x de R$4,90</p>
              <div class="overlay">
                <a href="#" class="buy_btn">COMPRE AGORA</a>
              </div>
            </div>
          </div>
        </li>
  
       
      </ul>
      <div class="showMore">
        <a href="#" class="show_btn">Ver todos</a>
      </div>
    </div>
    <div class="bannerFixo">
      <img src="../img/balckFriday.jpeg">
    </div>
    <div class="depoimentos">
      <h1 class="titleDepoimentos">Depoimentos</h1>
      <p class="subTitle">O que os nossos clientes estão dizendo</p>
      <section class="cardDepoimentos">
        <div class="depoimento">
          <div class="perfil">
            
            <img class="user" src="../img/user1.png" />

            <ul> 
              <li><h3>Joana A.</h3></li>
              <li><p>São José do Rio Preto - SP</p></li>
             <li> <div class="stars">
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
              </div></li>
            </ul>
            </div>
            <p> 
              <img class="aspas1" src="../img/aspas.png">
            
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
              provident dignissimos distinctio iure accusamus!
               <img class="aspas2" src="../img/aspas2.png">
            </p>
        </div>
        <div class="depoimento">
          <div class="perfil">
            
            <img class="user" src="../img/user2.jpeg" />

            <ul> 
              <li><h3>Aurora W.</h3></li>
              <li><p>São José do Rio Preto - SP</p></li>
             <li> <div class="stars">
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
              </div></li>
            </ul>
            </div>
            <p> 
              <img class="aspas1" src="../img/aspas.png">
            
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
              provident dignissimos distinctio iure accusamus!
               <img class="aspas2" src="../img/aspas2.png">
            </p>
        </div>
        <div class="depoimento">
          <div class="perfil">
            
            <img class="user" src="../img/user3.jpg" />

            <ul> 
              <li><h3>Bruna L.</h3></li>
              <li><p>São José do Rio Preto - SP</p></li>
             <li> <div class="stars">
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
                <img src="../img/star.svg" class="star" />
              </div></li>
            </ul>
            </div>
            
          <p> 
            <img class="aspas1" src="../img/aspas.png">
          
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
            provident dignissimos distinctio iure accusamus!
             <img class="aspas2" src="../img/aspas2.png">
          </p>
         
        </div>
       
      </section>
    </div>
    <div class="register">
      <ul class="listRegister">
        <li class="itemRegister"> 
          <img class="logoRegister" src="../img/logowx3_orange.png">
         </li>
        <li class="itemRegister"> 
          <p> Cadastre-se o seu e-mail e <strong>ganhe<br> 10% de desconto</strong> na sua primeira compra  </p>
         </li>
         <li class="nameEmail">
          <textarea class="textArea" placeholder="NOME"></textarea>
          <textarea class="textArea" placeholder="E-MAIL"></textarea>
         </li>
         <li>
          <button class="btnRegister">CADASTRAR</button>
         </li>
      </ul>
     
    </div>
    <div class="imagesRodape">
      <div id="loja" >
          <img class="lojaImagem" src="../img/lojaBanner.jpg"> 
      </div>
      <div class="shadow">
      <div class="cardRodape">
        <h3> Alguma dúvida? </h3>
        <p> Entre em contato pelo nosso <br> <strong> whatsapp (22)99898-9898 </strong> </p>
      </div>
    </div>

    </div>
    <div class="redeSocial">
      <ul class="listSocial">
        <li><img class="logoSocial" src="../img/facebook.png"></li>
        <li><img class="logoSocial" src="../img/instagram.png"></li>
        <li><img class="logoSocial" src="../img/youtube.png"></li>  
      </ul>
    </div>
    <div class="allInformation">
      <ul class="listAllInformation">
        <li> 
          <ul class="list_all_information">
            <li><h4> Institucional </h4></li>
            <li><a href="" >Quem somos</a></li>
            <li><a href="" >Loja Física</a></li>
            <li><a href="" >Central de Ajuda</a></li>
            <li><a href="" >Contato</a></li>
            <li><a href="" >PROCON-RJ</a></li>
          </ul>
        </li>
        <li>
          <ul class="list_all_information">
            <li><h4> Contato </h4></li>
            <li><a href="" >Segunda à Sexta De 07h às 17h</a></li>
            <li><a href="" >(22)2522-2222</a></li>
            <li><a href="" >(22)99999-9999</a></li>
            <li><a href="" >contato@teste.com.br</a></li>
          </ul>
        </li>
        <li>
          <ul class="list_all_information">
            <li><h4> Formas de Pagamento </h4></li>
            <li> <img class="formasPagamento" src="../img/formasPagemento.png"> </li>
          </ul>
        </li>
        <li>
          <ul class="list_all_information">
            <li><h4> Formas de Entrega </h4></li>
            <li> <img class="formasPagamento" src="../img/correios.png"> </li>
          </ul>
        </li>
        <li>
          <ul class="list_all_information">
            <li><h4> Segurança e qualidade </h4></li>
            <div class="qualidade">
            <li> <img class="ebit" src="../img/ebit.png"> </li>
            <li> <img class="ssl" src="../img/ssl.png"> </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer">
    <div class="footerBorder">
      <h5> LOREM Ih3SUM COMERCIO DE VESTUÁRIO LTDA. | CNPJ: 01.111.000/0001-01   / RUA DAS COVES, 100, CENTRO, NOVA FRIBURGO / RJ -  26.600-000  </h5>
      <img class="logoFooter" src="../img/wx3black.png" >
    </div>
      <p class="footer1"> Preços e condições de pagamento exclusivos para compras via internet. Ofertas válidas até o término de nossos estoques para internet. Vendas sujeitas à análise e  
      </p>
      <p class="footer1">
        confirmação de dados. Em caso de divergência de preços no site, o valor válido é o do Carrinho de Compras.
       </p>
    </div>
    </div>
  </body>
</html>
